canvas {  
  touch-action: pinch-zoom;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  padding: 0px;
}

@media only screen and (orientation : landscape) {
    canvas {
	position: absolute;
	right: 3vmin;
	padding: 0px;
	height: 95vmin;
	width: auto;
    }
    #controls {
      width: 18vw; /* Set the width of the sidebar */
      min-width: 180px;
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
  }
}

@media only screen and (orientation : portrait) {
    canvas {
	height: auto;
	width: 95vmin;
	display: block;
    }
    #controls {
	position:relative;
	width: 95vmin;
    }
}

@media only screen and (min-device-width: 1025px) {
    canvas {
	margin-left: 400px;
	padding: 0px;
	width: 800px;
	height: 600px;		   
    }
    
    #controls {
	position: fixed;
	width: 300px;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding: 20px;
    }
}
